.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    margin-top: 20px;
}

.ham-menu-image{
    width: 32px;
    height: 32px;
}

.navigation-menu{
    background-color: red;
}

.center-navigation-menu{
    visibility: collapse;
    width: 32px;
    height: 32px;
}

@media (min-width: 700px) {
    .header-container{
        justify-content: space-around;
    }

    .center-navigation-menu{
        visibility: visible;
    }
}