:root{
    font-size: 62.5%;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --blue: #1c64ff;
    --background: #0D0C1D;
    --text-color: white;
    --grey: #94958B;
}

body {
    margin: 0px;
    border: none;
    font-family: 'Montserrat', sans-serif;  
    background-color: var(--background);
    color: var(--text-color);
    box-sizing: border-box;
}