.about-me-image{
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    display: block;
    border-radius: 12px;
}

.about-me-description-container{
    width: 100%;

}

.about-me-description{
    padding: 0px 25px;
    box-sizing: border-box;
    margin: 0px auto;
}

.about-me__text{
    text-align: justify;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
}


.tech-skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 330px;
    margin: 0px auto;
}

.tech-skills__title{
    background-color: var(--blue);
    padding: 5px 10px;
    border-radius: 8px;
}

.programming-languages-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill__title{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--blue);
}

.skill__item{
    font-size: 1.4rem;
    
}

.frontend-backend-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* box-sizing: border-box; */
}

.skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-to-projects-button{
    width: 90%;
    margin: 15px auto;
    background-color: var(--background);
    height: 40px;
    color: var(--text-color);
    display: block;
    border: solid 2px var(--text-color);
    border-radius: 8px;
    font-size: 1.8rem;
    box-sizing: border-box;
}

.go-to-projects-button:hover{
    cursor: pointer;
    color: var(--blue);
    border: 2px solid var(--blue);
}

@media only screen and (min-width:330px) and (max-width:999px) {
   
    .about-me-description{
        max-width: 750px;
    }

    .go-to-projects-button{
        max-width: 750px;
    }
}

@media only screen and (min-width:1000px) {
    .main-about-me{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: solid 4px var(--blue);
        margin: 40px;
        padding: 10px;
        border-radius: 20px;
        justify-content: space-around;
        max-width: 1200px;
        box-sizing: border-box;
    }

    .about-me-image{
        max-width: 1000px;
    }

    .about-me-description{
        /* font-size: 1.4rem; */
        /* max-width: 800px; */
        min-width: 550px;
    }
}


@media only screen and (min-width:1280px){
    .main-about-me{
        margin: 40px auto;
    }
}