.main-coctact{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
    height: calc(100vh - 82px);
}

.form-container{
    box-sizing: border-box;
    border: 2px solid var(--blue);
    border-radius: 12px;
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
    margin: 15px;
}

.social-media-container{
    display: flex;
    justify-content: space-around;
    background: rgb(28,100,255);
    background: linear-gradient(180deg, rgba(28,100,255,1) 0%, rgba(0,212,255,1) 100%); 
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.social-media-icon{
    width: 32px;
    height: 32px;
}

.form__input{
    width: 100%;
    background-color: var(--background);
    color: #94958B;
    border-radius: 8px;
    border: 2px solid #94958B;
    margin: 10px 0px;
    box-sizing: border-box;
    padding: 16px;
    font-weight: bold;
    font-size: 1.6rem;
    outline: none;
}

.form__input:hover{
    cursor: pointer;
    border: 2px solid var(--blue);
    color: var(--blue);
}

.form__input:focus{
    color: #94958B;
    border: 2px solid var(--blue);
}submit-button

.input__message{
    height: 160px;
    padding: 12px;
}

.submit-button{
    width: 40%;
    margin: 12px auto;
    display: block;
    background-color: var(--background);
    border: 2px solid #94958B;
    box-sizing: border-box;
    height: 44px;
    color: #94958B;
    border-radius: 8px;
}