.header-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    /* margin-top: 20px; */
}

.center-navigation-menu{
    visibility: collapse;
    width: 32px;
    height: 32px;
}

@media only screen and (min-width:330px) and (max-width:700px) {
    .center-navigation-menu{
        display: none;
    }
}


@media only screen and (min-width:700px){
    .header-container{
        justify-content: space-around;
        padding: 0px;
    }
    .ham-menu-container{
        display: none;
    }
}