.nav-container{
    width: 60%;
    min-width: 600px;
    box-sizing: border-box;
    /* visibility: collapse; */
}

.nav__ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.nav__li{
    font-size: 2.4rem;
    color: var(--text-color);
    font-weight: 300;
    list-style: none;
}

.nav__li:hover{
    color: var(--blue);
    cursor: pointer;
}

@media only screen and (min-width:330px) and (max-width:700px) {
    .nav-container{
        display: none;
    }
}